main {
	display: flex;
}

.left_main_block {
	width: calc(100% - 474px);
	margin-left: 474px;
}

hr {
	padding-bottom: 67px;
	color:#F8FAFC;
}

header{
	background: #F8FAFC;
	position: fixed;
    left: 474px;
    width: calc(100% - 474px);
	z-index: 1;
}

.container, .container-sm {
    max-width: 540px;
	min-width: 653px;
}

.input_wrapper {
	margin-bottom: 24px;
}

.form_label {
	margin-bottom: 8px;
	
	font-weight: 400;
	font-size: 13px;
	color: #94A3B8;
	line-height: 12px;
}

.form-select {
	border-radius: 24px;
	font-size: 15px;
	background-size: 16px 20px;
	background-color: #F8FAFC;
}

.flex-2 {
	flex: 2 0;
}
.flex-1 {
	flex: 1 0;
}